<div class="container">
    <form #logindetails="ngForm">
      <h1>Login Details</h1>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Email</label>
              <input type="email" #email="ngModel" [class.is-invalid]="email.invalid && email.dirty" [class.is-valid]="email.valid" required
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" name="email"
                [(ngModel)]="emailInput.email" />
        
              <div *ngIf="email.errors && (email.invalid || email.dirty)">
                <small class="text-danger" *ngIf="email.dirty && email.errors?.['required']">Email is required</small>
                <small class="text-danger" *ngIf="email.errors?.['pattern']">Enter a valid email address</small>
              </div>
            </div>  
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label">Password</label>
              <input type="password" #password="ngModel" [class.is-invalid]="password.invalid && password.dirty" [class.is-valid]="password.valid" required
               minlength="8" class="form-control" name="password"
                [(ngModel)]="emailInput.password" />
              <div *ngIf="password.errors && (password.invalid || password.dirty)">
                <small class="text-danger" *ngIf="password.dirty && password.errors?.['required']">Password is required</small>
                <small class="text-danger" *ngIf="password.errors?.['minlength']">Password must have atleast 8 characters</small>
              </div>
            </div>
          </div>
        </div>
      </div>      
      <div class="form-group d-flex justify-content-between">
        <div class="btn-group mt-3" role="group">
          <button class="btn btn-primary" id="nextBtn" (click)="next()" [disabled]="logindetails.invalid">Next</button>   
        </div>
        <input class="btn btn-secondary mt-3" type="reset" />
      </div>
    </form>
  </div>
  