<div class="container-fluid">
    <form #agreementSubmit="ngForm" novalidate>
      <h1>Final Submit</h1>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
      </div>
      <div class="btn-group mt-3">
        <button class="btn btn-primary" id="backBtn" (click)="back()" >Back</button>
        <button class="btn btn-primary" id="submitBtn" (click)="submit()" [disabled]="agreementSubmit.invalid" >Submit</button>
      </div>
    </form>
</div>