<div class="container">
<form #personaldetails="ngForm" novalidate >
    <h1>Personal Details</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label">First name</label>
            <input type="firstName" #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.dirty" [class.is-valid]="firstName.valid" required
              class="form-control" name="firstName"
              [(ngModel)]="personalDetailsInput.firstName" />
            <div *ngIf="firstName.errors && (firstName.invalid || firstName.dirty)">
              <small class="text-danger" *ngIf="firstName.dirty && firstName.errors?.['required']">Firstname is required</small>
            </div>
        </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label">Last name</label>
            <input type="lastName" #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.dirty" [class.is-valid]="lastName.valid" required
              class="form-control" name="lastName"
              [(ngModel)]="personalDetailsInput.lastName" />
            <div *ngIf="lastName.errors && (lastName.invalid || lastName.dirty)">
              <small class="text-danger" *ngIf="lastName.dirty && lastName.errors?.['required']">Lastname is required</small>
            </div>
        </div>
        </div>
      </div>
      <div class="row align-items-center mt-3">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-label">Date of Birth</label>
            <input class="form-control" type="date" required [(ngModel)]="personalDetailsInput.dob" #dob="ngModel"
            [class.is-invalid]="dob.dirty && dob.errors?.['required']" [class.is-valid]="dob.dirty" />
         </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-label">Gender</label>
            <div class="d-flex justify-content-between">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault" >
                <label class="form-check-label" for="flexRadioDefault">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" >
                <label class="form-check-label" for="flexRadioDefault1">
                  Female
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                <label class="form-check-label" for="flexRadioDefault2">
                  Others
                </label>
              </div>
            </div>
        </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-label">Country</label>
            <select class="form-select" aria-label="Default select example" required [(ngModel)]="personalDetailsInput.country" #country="ngModel">
                <option selected value="">Choose...</option>
                <option value="in">India</option>
                <option value="us">United States</option>
                <option value="jp">Japan</option>
                <option value="cn">China</option>
              </select>
            <div *ngIf="country.errors && (country.invalid || country.dirty)">
              <small class="text-danger" *ngIf="country.errors?.['required']">Country is required</small>
            </div>
        </div>
        </div>
      </div>
    </div>
    
    <div class="form-group d-flex justify-content-between">
      <div class="btn-group mt-3" role="group">
        <button class="btn btn-primary" id="backBtn" (click)="back()" >Back</button>
        <button class="btn btn-primary" id="nextBtn" (click)="next()" [disabled]="personaldetails.invalid" >Next</button>   
      </div>
      <input class="btn btn-secondary mt-3" type="reset" />
    </div>
</form>
</div>