<div class="container-fluid">
    <form #educationaldetails="ngForm" novalidate>
      <h1>Educational Details</h1>
      <h3>High School Details</h3>
      <div class="d-flex">        
        <div class="form-group m-1">
            <label>Board</label>
            <input type="text" #highSchoolBoard="ngModel" [class.is-invalid]="highSchoolBoard.invalid && highSchoolBoard.dirty" [class.is-valid]="highSchoolBoard.valid" required
              class="form-control" name="highSchoolBoard"
              [(ngModel)]="educationalDetailsInput.highSchoolBoard" />
            <div *ngIf="highSchoolBoard.errors && (highSchoolBoard.invalid || highSchoolBoard.dirty)">
              <small class="text-danger" *ngIf="highSchoolBoard.dirty && highSchoolBoard.errors?.['required']">Board is required</small>
            </div>
        </div>
        <div class="form-group m-1">
          <label>School</label>
          <input type="text" #highSchoolSchool="ngModel" [class.is-invalid]="highSchoolSchool.invalid && highSchoolSchool.dirty" [class.is-valid]="highSchoolSchool.valid" required
            class="form-control" name="highSchoolSchool"
            [(ngModel)]="educationalDetailsInput.highSchoolSchool" />
          <div *ngIf="highSchoolSchool.errors && (highSchoolSchool.invalid || highSchoolSchool.dirty)">
            <small class="text-danger" *ngIf="highSchoolSchool.dirty && highSchoolSchool.errors?.['required']">School name is required</small>
          </div>
      </div>
      <div class="form-group m-1">
        <label>Percentage</label>
        <input type="number" min="0" max="100" #highSchoolPercentage="ngModel" [class.is-invalid]="highSchoolPercentage.invalid && highSchoolPercentage.dirty" [class.is-valid]="highSchoolPercentage.valid" required
          class="form-control" name="highSchoolPercentage"
          [(ngModel)]="educationalDetailsInput.highSchoolPercentage" />
        <div *ngIf="highSchoolPercentage.errors && (highSchoolPercentage.invalid || highSchoolPercentage.dirty)">
          <small class="text-danger" *ngIf="highSchoolPercentage.dirty && highSchoolPercentage.errors?.['required']">Percentage is required</small>
          <small class="text-danger" *ngIf="highSchoolPercentage.dirty && (highSchoolPercentage.errors?.['min'] || highSchoolPercentage.errors?.['max'])">Enter valid percentage</small>
        </div>
    </div>
      </div>
      <h3>Intermediate Details</h3>
      <div class="d-flex">
        <div class="form-group m-1">
            <label>Board</label>
            <input type="text" #intermediateBoard="ngModel" [class.is-invalid]="intermediateBoard.invalid && intermediateBoard.dirty" [class.is-valid]="intermediateBoard.valid" required
              class="form-control" name="intermediateBoard"
              [(ngModel)]="educationalDetailsInput.intermediateBoard" />
            <div *ngIf="intermediateBoard.errors && (intermediateBoard.invalid || intermediateBoard.dirty)">
              <small class="text-danger" *ngIf="intermediateBoard.dirty && intermediateBoard.errors?.['required']">Board is required</small>
            </div>
        </div>
        <div class="form-group m-1">
          <label>School</label>
          <input type="text" #intermediateSchool="ngModel" [class.is-invalid]="intermediateSchool.invalid && intermediateSchool.dirty" [class.is-valid]="intermediateSchool.valid" required
            class="form-control" name="intermediateSchool"
            [(ngModel)]="educationalDetailsInput.intermediateSchool" />
          <div *ngIf="intermediateSchool.errors && (intermediateSchool.invalid || intermediateSchool.dirty)">
            <small class="text-danger" *ngIf="intermediateSchool.dirty && intermediateSchool.errors?.['required']">School name is required</small>
          </div>
      </div>
      <div class="form-group m-1">
        <label>Percentage</label>
        <input type="number" min="0" max="100" #intermediatePercentage="ngModel" [class.is-invalid]="intermediatePercentage.invalid && intermediatePercentage.dirty" [class.is-valid]="intermediatePercentage.valid" required
          class="form-control" name="intermediatePercentage"
          [(ngModel)]="educationalDetailsInput.intermediatePercentage" />
        <div *ngIf="intermediatePercentage.errors && (intermediatePercentage.invalid || intermediatePercentage.dirty)">
          <small class="text-danger" *ngIf="intermediatePercentage.dirty && intermediatePercentage.errors?.['required']">Percentage is required</small>
          <small class="text-danger" *ngIf="intermediatePercentage.dirty && (intermediatePercentage.errors?.['min'] || intermediatePercentage.errors?.['max'])">Enter valid percentage</small>
        </div>
      </div>
      </div>
      <h3>Graduation Details</h3>
      <div class="form-group m-1">
        <label>University Name</label>
        <input type="text" #universityName="ngModel" [class.is-invalid]="universityName.invalid && universityName.dirty" [class.is-valid]="universityName.valid" required
          class="form-control" name="universityName"
          [(ngModel)]="educationalDetailsInput.universityName" />
        <div *ngIf="universityName.errors && (universityName.invalid || universityName.dirty)">
          <small class="text-danger" *ngIf="universityName.dirty && universityName.errors?.['required']">University name is required</small>
        </div>
    </div>
      <div class="d-flex">
        <div class="form-group m-1">
          <label>Course</label>
          <input type="text" #graduationCourse="ngModel" [class.is-invalid]="graduationCourse.invalid && graduationCourse.dirty" [class.is-valid]="graduationCourse.valid" required
            class="form-control" name="graduationCourse"
            [(ngModel)]="educationalDetailsInput.graduationCourse" />
          <div *ngIf="graduationCourse.errors && (graduationCourse.invalid || graduationCourse.dirty)">
            <small class="text-danger" *ngIf="graduationCourse.dirty && graduationCourse.errors?.['required']">Course is required</small>
          </div>
      </div>
      <div class="form-group m-1">
        <label>Branch/Stream</label>
        <input type="text" #graduationBranch="ngModel" [class.is-invalid]="graduationBranch.invalid && graduationBranch.dirty" [class.is-valid]="graduationBranch.valid" required
          class="form-control" name="graduationBranch"
          [(ngModel)]="educationalDetailsInput.graduationBranch" />
        <div *ngIf="graduationBranch.errors && (graduationBranch.invalid || graduationBranch.dirty)">
          <small class="text-danger" *ngIf="graduationBranch.dirty && graduationBranch.errors?.['required']">School name is required</small>
        </div>
    </div>
      <div class="form-group m-1">
        <label>Percentage</label>
        <input type="number" min="0" max="100" #graduationPercentage="ngModel" [class.is-invalid]="graduationPercentage.invalid && graduationPercentage.dirty" [class.is-valid]="graduationPercentage.valid" required
          class="form-control" name="graduationPercentage"
          [(ngModel)]="educationalDetailsInput.graduationPercentage" />
        <div *ngIf="graduationPercentage.errors && (graduationPercentage.invalid || graduationPercentage.dirty)">
          <small class="text-danger" *ngIf="graduationPercentage.dirty && graduationPercentage.errors?.['required']">Percentage is required</small>
          <small class="text-danger" *ngIf="graduationPercentage.dirty && (graduationPercentage.errors?.['min'] || graduationPercentage.errors?.['max'])">Enter valid percentage</small>
        </div>
      </div>
      </div>  
      <div class="form-group">
        <button class="btn btn-primary m-1" id="backBtn" (click)="back()" >Back</button>
        <button class="btn btn-primary m-1" id="nextBtn" (click)="next()" [disabled]="educationaldetails.invalid" >Next</button>
        <input class="btn btn-secondary m-1" type="reset" />
    </div>
    </form>
</div>