<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav>
  <h1 class="logoName">Humanitics</h1>
  <div class="navMenu">
    <a class="navMenuLink" routerLinkActive="activeNavMenuLink" routerLink="/home">Home</a>
    <a class="navMenuLink" routerLinkActive="activeNavMenuLink" routerLink="/services">Services</a>
    <a class="navMenuLink" routerLinkActive="activeNavMenuLink" routerLink="/aboutus">About Us</a>
    <a class="navMenuLink" routerLinkActive="activeNavMenuLink" routerLink="/contact">Contact</a>
    <a class="navMenuLink" routerLinkActive="activeNavMenuLink" routerLink="/emailregister">Register</a>
  </div>
</nav>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
