<app-header></app-header>
<div class="container">
    <h1>Scalable Image</h1>
    <div class="form-group">
        <label for="widthRange" class="form-label">Width</label>
        <input type="range" value="{{dimensions.width}}" id="widthRange" min="0" max="400" (input)="setWidth($event)" />
    </div>
    <div class="form-group">
        <label for="heightRange" class="form-label">Height</label>
        <input type="range" id="heightRange" value="{{dimensions.height}}" min="0" max="400" (input)="setHeight($event)">
    </div>
    <button class="btn btn-primary" (click)="reset()">Reset</button>
    <div>
    <img class="" width="{{dimensions.width}}" height="{{dimensions.height}}" id="pic"
    src="https://img.industrynine.com/ws/wheels/624314274dbe28.44642793.jpg" />
    </div>
</div>