<app-header></app-header>
<div>
    <h1>Home Page rendered.</h1>
    <!-- <div class="m-3 fw-bold">
        Status: {{networkStatus ? "Online" : "Offline"}}
    </div> -->
    <div class="d-flex gap-2 w-75">
        <label>Record ID</label>
        <input type="number" class="form-control" [(ngModel)]="recordId" />
        <label>Record Name</label>
        <input class="form-control" [(ngModel)]="recordName" />
        <label>Record Age</label>
        <input type="number" class="form-control" [(ngModel)]="recordAge" />
        
    </div>
    <div class="d-flex m-2 gap-2">
        <button class="btn btn-primary" (click)="addRecord()">Add Record</button>
        <button class="btn btn-primary" (click)="updateRecord()">Update Record</button>
        <button class="btn btn-primary" (click)="deleteRecord()">Delete Record</button>
    </div>
    <div class="d-flex m-2 gap-2">
        <button class="btn btn-secondary" (click)="getAllRecords()">Get All Records</button>
        <button class="btn btn-secondary" (click)="getAllSyncRecords()">Get All Sync Records</button>
        <button class="btn btn-success" (click)="syncData()">Sync Now</button>
    </div>
</div>
